<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">MUSIC</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink='/login'>Login</a>
        </li>
        <li>            
            <a routerLink='/home'>Home</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<div class="date">
    {{ today }}
</div>

<div class="panel panel-info">
      <div class="panel-heading">
            <h3 class="panel-title">Date pipe using Moment</h3>
      </div>
      <div class="panel-body">
            Check the time passed since: <input type="text" [(ngModel)]='userInput' />
        </div>
</div>

<div class="date">
    {{ userInput | datepipe }}
</div>
<!-- Assignment 6 
<div class="container">
    <h3>Please select the language :</h3> <select id="input" class="form-control" [(ngModel)] = 'language' required="required" >
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
    </select>
</div>-->





<!--<app-signin></app-signin>
<app-home></app-home>
 <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          Filter By:
        </div>
        <div class="col-md-2">
          <input type="text" [(ngModel)]= "filterText"/>
        </div>
      </div>
      <div class="row">
        <div class="col-mg-6">
          <h3>Filtered By:{{filterText}}</h3>
        </div>
      </div>
-->